.generalnavinventory {
    display: flex;
    justify-content: flex-end;
}

.navInventory {
    background-color: #1C4CBD;
    width: 250px;
    height: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 20px 0px #767586;

}

.textNavInventory {
    color: white;
    font-size: 10px;
}

