.tips {
    width: 150px;
    height: 100px;
    border: 1px solid #767586;
    background-color: #D9D9D9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 20px 0px #767586;
}

.texttips {
    font-size: 12px;
    text-align: center;
}