.startGeneral {
  height: 60vh;
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navAppears {
  background-color: #b0002d;
  width: 250px;
  height: 25px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 10px 20px 0px #767586;
  color: white;
  font-size: 10px;
}

.imgPokeAppears {
  background-image: url(../../../assets/images/fond_pokecatch.png);
  background-repeat: no-repeat;
  background-size: 50vh;
  width: 50vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPokeAppears img {
  max-width: 200px;
  max-height: 200px;
}

.ballAppears img {
  width: 125px;
}

.ballAppears {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ballDescription {
  background-color: #b0002d;
  width: 250px;
  height: 25px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 10px 20px 0px #767586;
  color: white;
  font-size: 10px;
}

.TipsStart {
  position: absolute;
  border: 1px solid #767586;
  width: 150px;
  height: 100px;
  right: 0vh;
  box-shadow: -10px 10px 20px 0px #767586;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-align: center;
}

@media screen and (min-width: 35em) {
}
