.Pokefight {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}
.versusbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.versusbar h3{
    padding-inline: 5rem;
}
.abilities {
    display: flex;
    flex-wrap: wrap;
}
.attack {
    padding: 1rem;
}