/*CSS properties:*/

:root {
    --primary-color: #0A285F;
    --secondary-color: #B0002D;
    --light-gray: #ABA9BC;
    --dark-gray: #767586;
    --margin-city: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 1rem;
    height: 3vh;
    color: white;
    background: var(--primary-color);
    border-top-left-radius: 10% 80%;
    border-top-right-radius: 10% 80%;
    width: 100%;
}

.footer p {
    text-shadow: 2px 2px 2px black;
}

.footer-red {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 1rem;
    height:3vh;
    color: white;
    background: var(--secondary-color);
    border-top-left-radius: 10% 80%;
    border-top-right-radius: 10% 80%;
    width: 100%;
}

.footer-red p {
    text-shadow: 2px 2px 2px black;
}