/*CSS properties:*/

:root {
    --primary-color: #0a285f;
    --secondary-color: #b0002d;
    --light-gray: #aba9bc;
    --dark-gray: #767586;
    --margin-city: 1rem;
  }

  
.pokemonlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    font-size: 0.7rem;
}