/*CSS properties:*/

:root {
  --primary-color: #0a285f;
  --secondary-color: #b0002d;
  --light-gray: #aba9bc;
  --dark-gray: #767586;
  --margin-city: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pokeListBack {
  opacity: 50%;
  margin: 10%;
  height: 23.1rem;
  width: 16rem;
  top: 8.5rem;
  background-color: #767586;
  box-shadow: #271cbb 1px 1px 1px 1px;
  border-bottom-left-radius: 15% 7%;
  border-bottom-right-radius: 15% 7%;
  border-top-left-radius: 15% 7%;
  border-top-right-radius: 15% 7%;
  position: absolute;
}


img.pokeup,
img.pokedown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
 
}

.top_pokeball_parent,
.bottom_pokeball_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 55vh;
}

.pokeup,
.pokedown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35%;
}

.pokedown {
  bottom: calc(100% - 50px);
}

.pokeup {
  bottom: 0;
}

@keyframes slideInUp {
  from {
    visibility: visible;
  }
  to {
    bottom: calc(66% - 50px);
  }
}
@keyframes slideInDown {
  from {
    visibility: visible;
  }
  to {
    bottom: 25%;
  }
}

/* The element to apply the animation to */
.pokeup {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.pokedown {
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}


@media screen and (max-width: 320px) {
  * {
      box-sizing: border-box;
    }

  body{
      width: 100%;
  }
  }


