/*CSS properties:*/

:root {
  --primary-color: #0a285f;
  --secondary-color: #b0002d;
  --light-gray: #aba9bc;
  --dark-gray: #767586;
  --margin-city: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



article {
  margin: 5%;
  opacity: 50%;
  height: 45rem;
  background-color: #767586;
  box-shadow: #767586 1px 1px 1px 1px;
  border-bottom-left-radius: 15% 7%;
  border-bottom-right-radius: 15% 7%;
  border-top-left-radius: 15% 7%;
  border-top-right-radius: 15% 7%;
}

img.pokeup,
img.pokedown {
  width: 100px;
  height: 50px;
}

.top_pokeball_parent,
.bottom_pokeball_parent {
  position: relative;
  height: 41vh;
}

.pokeup,
.pokedown {
  position: absolute;
  left: 39%;
}
.pokedown {
  bottom: calc(100% - 50px);
}
.pokeup {
  bottom: 0;
}

@keyframes slideInUp {
  from {
    visibility: visible;
  }
  to {
    bottom: calc(90% - 50px);
  }
}
@keyframes slideInDown {
  from {
    visibility: visible;
  }
  to {
    bottom: -20%;
  }
}
/* The element to apply the animation to */
.pokeup {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.pokedown {
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
