.pokefeed {
  margin-top: 20vh;
  margin-bottom: 5vh;
  margin-left: 1vw;
  margin-left: 1vw;
}

/*Affichage du pokémon*/
.pokemon-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-img {
  min-width: 25px;
  max-width: 150px;
  min-height: 25px;
  max-height: 150px;
  margin-top: 5vh;
}

.pokemon-info-box {
  display: flex;
}

.pokemon-infos-txt {
  display: block;
  margin-left: 20vw;
  margin-right: 20vw;
  color: white;
  background-color: #2cab66;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 15px 0px;
  text-align: center;
}

.pokemon-infos-txt2 {
  display: block;
  width: 40vw;
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2cab66;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 15px 0px;
  text-align: center;
}

.pokemon-name {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  color: white;
  width: 167px;
  height: 19px;
  background: #1c4cbd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px;
  text-align: center;
}

/*Affichage des baies*/

.page1 {
  display: flex;
  flex-direction: column;
}

.click-berries-txt {
  display: block;
  margin-left: 20vw;
  margin-right: 20vw;
  color: white;
  background-color: #2cab66;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 0px;
  text-align: center;
}

.berries-box {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  align-items: center;
}

.berries:hover {
  cursor: pointer;
}

/* Barre de progression */
.progress-bar {
  height: 3vh;
  margin-top: 10vh;
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(28, 76, 189, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 0px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar-value {
  color: black;
}
/*Level Up*/

.page2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pokemon-infos-init {
  display: flex;
  align-items: center;
}

.pokemon-infos-evol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.levelup-box {
  margin: 30px;
}

.levelup-img {
  width: 25vw;
  height: 15vh;
  margin-right: 5vw;
  margin-left: 5vw;
}

.statsbutton-box {
  display: flex;
}

.statsbutton {
  display: block;
  position: relative;
  width: 25vw;
  height: 4vh;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #b0002d;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 0px;
}

/*Tableau stats*/

.stats-pokemons {
  display: flex;
  justify-content: center;
}
.pokemon-evo-title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2vh;
  color: white;
  background-color: #1c4cbd;
  width: 35vw;
  height: 19px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px black solid;
  border-radius: 20px 0px;
  text-align: center;
}

.grid {
  display: block;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #aba9bc;
  border: solid 5px #1c4cbd;
  border-radius: 20px 0px;
  color: blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(2, 1.5fr) 1.5fr;
  grid-template-rows: repeat(7, 1fr);
  text-align: center;
  grid-auto-flow: column;
}

.card {
  background-color: rgba(171, 169, 188, 0.5);
  font-family: "Noto Sans", sans-serif;
  color: black;
  padding: 5px;
}

.emptycard {
  grid-column: 1/2;
  grid-row: 1/2;
  border-bottom: 5px solid #1c4cbd;
  border-right: 3px solid #1c4cbd;
  border-radius: 15px 0px 0px 0px;
}

.hpcard,
.attackcard,
.defensecard,
.speedcard,
.specialattackcard,
.specialdefensecard {
  border-bottom: 3px solid #1c4cbd;
  border-right: 3px solid #1c4cbd;
}

.oldpokecard {
  grid-column: 2/3;
  grid-row: 1/2;
  border-bottom: 5px solid #1c4cbd;
}

.evopokecard {
  grid-column: 3/4;
  grid-row: 1/2;
  border-bottom: 5px solid #1c4cbd;
}

.lastcard {
  border-radius: 0px 0px 15px 0px;
}

.playagain {
  display: block;
  position: relative;
  width: 15vw;
  height: 5vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #b0002d;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 0px;
}

@media screen and (max-width: 850px) {
  .page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .pokemon-infos-txt2 {
    display: block;
    width: 60vw;
    height: 3vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #2cab66;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 15px 0px;
    text-align: center;
  }

  .pokemon-img {
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;
  }

  .berries-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
  }

  .berries {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
